@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.react-datepicker-wrapper {
  width: 100%;
}
.placeholder-gray80 {
  font-size: 14px;
  font-weight: 400;
  color: #777;
  letter-spacing: 0.5px;
  background-color: #f5f5f5;
}

.ql-editor {
  min-height: 262px;
}

.select__control {
  border: none !important;
  border-bottom: 2px solid #bdbcbc !important;
  background: #f5f5f5 !important;
  box-shadow: none;
  border-radius: 0px !important;
  padding: 8px;
  border-style: solid;
}

.select__control--is-focused {
  outline: none !important;
  box-shadow: none !important;
}

.select__multi-value {
  background-color: transparent !important;
  border-radius: 55px !important;
  margin: 2px;
  border: 1px solid #918f8f;
}
.select__multi-value__remove svg {
  background: #656263;
  fill: white;
  border-radius: 100%;
}

.select__multi-value__remove:hover {
  background-color: transparent !important;
  color: #fff;
}
